*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 200vh;
}
.contenedor {
    max-width: 600px; /* Ajusta el ancho máximo según tus preferencias */
    text-align: center;
    padding: 0;
    border: 1px solid #ccc; /* Opcional: Añade un borde para visualizar el área del contenido */
  }